body {
	background-color: #c2c2d6;
}

table {
	border-collapse: collapse;
	border: 2px solid black;
	
}

#col1 {
	background-color: #527cdd;
	width: 250px;
}

#col2 {
	background-color: #6e52dd;
	width: 200px;
}

#col3 {
	background-color: #52c1dd;
	width: 150px;
}